
body{
 
  overflow-x: hidden;
}

#homee{
  padding-top: 5%;
}

.bg-img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.rounded-circle{
  height: 80px;
}

.navbar-nav :focus {
  justify-content: center;
  
}


h1{
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}

h2{
  color: white;
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}


#adam{
  align-items: center;
  font-size: xx-large;
}

.nav-item:hover {
  text-decoration: underline;
  text-decoration-color: white;
   }


